<h1><%= @post.title %></h1>

<% @post.categories.each do |c| %>
  <h2> <%= c.name %> </h2>
<%end%>

<p><%= @post.content %></p> <br>

<ul>
  

<% @post.comments.each do |comment| %>

  <li>
    <%= c.user.username %> says: <%= c.content %>
  </li>
<%end%>
</ul>